<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Monolithic shop welcome page</title>
</head>
<body>
<div>

    <h2>Greeta</h2>

    <div class="productlist" th:unless="${#lists.isEmpty(products)}">

        <h2>List of products</h2>

        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="product: ${products}">
                <td th:text="${{product.id}}" />
                <td th:text="${{product.name}}" />
                <td th:text="${{product.price}}" />
            </tr>
            </tbody>
        </table>
    </div>

</div>
</body>
</html>